# intentar casas búsquedas con vuelos

In [1]:
# intentar deducir q datos son relevantes ....

In [45]:
import pandas as pd
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [63]:
# importar el csv 
# pandas lo importa aunque esté comprimido
dfBook=pd.read_csv("bookings.csv.bz2",
               sep='^',
               usecols=['brd_time           ','brd_port','off_port'],
               nrows=1e5,
               parse_dates=['brd_time           '])


# 1e5 = 100000

In [64]:
# cambiamos el nombre de una columna 
dfBook['date']=dfBook['brd_time           ']

In [65]:
dfBook.sample(10)

       brd_port  off_port brd_time                           date
37675  CDG       LHR      2013-05-07 13:25:00 2013-05-07 13:25:00
19384  YUL       TUN      2013-06-28 16:45:00 2013-06-28 16:45:00
47125  MIA       JFK      2013-03-07 13:10:00 2013-03-07 13:10:00
84483  BAH       ZRH      2013-01-29 09:50:00 2013-01-29 09:50:00
16774  MAD       COR      2013-02-07 19:10:00 2013-02-07 19:10:00
37732  BHX       SCL      2013-07-07 17:30:00 2013-07-07 17:30:00
84548  VNO       WAW      2013-01-31 11:55:00 2013-01-31 11:55:00
73696  NCE       BOM      2013-06-18 16:05:00 2013-06-18 16:05:00
58035  SHE       HKG      2013-03-10 15:00:00 2013-03-10 15:00:00
54390  EWR       MSP      2013-03-07 06:15:00 2013-03-07 06:15:00

In [48]:
# importar el csv 
# pandas lo importa aunque esté comprimido
dfSearch=pd.read_csv("searches.csv.bz2",sep='^',
                     usecols=['Seg1Date','Origin','Destination'],
                     nrows=1e5,
                     parse_dates=['Seg1Date'])

#df=pd.read_csv("searches.csv.bz2",sep='^',usecols=['Date','Destination'],parse_dates=['Date'])

# 1e5 = 100000

In [49]:
dfSearch.columns

Index([u'Origin', u'Destination', u'Seg1Date'], dtype='object')

In [40]:
dfBook.sample(5)

       brd_port  off_port brd_time                           date
31448  TPE       SFO      2013-03-06 23:40:00 2013-03-06 23:40:00
55596  FEG       LED      2013-05-20 19:50:00 2013-05-20 19:50:00
98532  ARN       SVO      2013-05-20 11:50:00 2013-05-20 11:50:00
22045  ESB       WAW      2013-01-09 10:00:00 2013-01-09 10:00:00
29529  ZRH       YUL      2013-04-15 12:50:00 2013-04-15 12:50:00

In [76]:
dfSearch.sample(5)

      Origin Destination   Seg1Date       fecha
96988    LGA         GEG 2013-04-20  2013-04-20
53562    CLT         ROM 2013-05-22  2013-05-22
45608    FRA         IAH 2013-04-07  2013-04-07
90788    JED         MED 2013-04-11  2013-04-11
47380    MTR         BOG 2013-03-19  2013-03-19

In [69]:
def sinHora(fec):
    return fec.date()

In [71]:
dfBook["fecha"]=dfBook.date.apply(sinHora)

In [72]:
dfSearch["fecha"]=dfSearch.Seg1Date.apply(sinHora)

ahora hay q cruzar (es un modelo muy simple, sólo un ejemplo)

In [78]:
dfCruce=pd.merge(dfSearch,
         dfBook,
         how='left',
         left_on=['Origin','Destination','fecha'],
         right_on=['brd_port','off_port','fecha'])

In [79]:
# añadimos una columna para identificar las fichas en las que ha habido matching (puede ser que no haya ninguno)
dfCruce['match'"']=dfCruce.brd_port.apply(lambda b: not pd.isnull(b))
        
# !!! ejemplo de lambda, función anónima

In [81]:
dfCruce.groupby('match').count()

,Origin,Destination,Seg1Date,fecha,brd_port,off_port,brd_time,date
match,,,,,,,,
False,100000,100000,99605,100000,0,0,0,0