In [41]:
import numpy as np
import pandas as pd
from pandas import DataFrame, Series
import matplotlib.pyplot as plt
%matplotlib inline

In [42]:
# importar el csv 
# pandas lo importa aunque esté comprimido
# chunksize >> trocea el csv
dfbook=pd.read_csv("bookings.csv.bz2",sep='^',usecols=['arr_port','pax'],chunksize=1e5)

# 1e5 = 100000

In [37]:
type(dfbook)

pandas.io.parsers.TextFileReader

In [49]:
pasePorChunk1 = False
c = pd.DataFrame([])

for chunk in dfbook:
    s=chunk.groupby('arr_port').pax.sum().reset_index()
    if pasePorChunk1:
        c = pd.concat([s,todoslosDFs])
    else:
        c = s
        pasePorChunk1 = True
        
    todoslosDFs = c.groupby('arr_port').pax.sum().reset_index()
    

dfFinal=todoslosDFs.sort('pax',ascending=False).head(10)

In [50]:
dfFinal

      arr_port    pax
1088  LHR       87803
1190  MCO       70069
1050  LAX       69769
1047  LAS       68898
886   JFK       65475
315   CDG       63814
216   BKK       58713
1228  MIA       57565
1719  SFO       57295
517   DXB       55003

In [51]:
# importamos GeoBases
from GeoBases import GeoBase

In [52]:
#objeto g es una llamada a GeoBase, le pasa el campo 'ori_por' y devuelve el q pongamos a continuación
g = GeoBase(data='ori_por',verbose=False)

In [53]:
g.get('BKK')['name']

'Suvarnabhumi'

In [96]:
# vamos a añadir una columna con el nombre del aeropuerto

def nameAir(codAir):
     return g.get(codAir.strip())['name']

In [97]:
nameAir('JFK')

'John F Kennedy International Airport'

In [98]:
dfFinal.arr_port.apply(nameAir)

#FinalMerge["evolPorc2d"]=FinalMerge["evolPorc"].apply(dec2)

1088                 London Heathrow Airport
1190           Orlando International Airport
1050       Los Angeles International Airport
1047         Mc Carran International Airport
886     John F Kennedy International Airport
315                Paris - Charles-de-Gaulle
216                             Suvarnabhumi
1228             Miami International Airport
1719     San Francisco International Airport
517              Dubai International Airport
Name: arr_port, dtype: object

In [99]:
dfFinal["arrName"]=dfFinal.arr_port.apply(nameAir)

In [100]:
dfFinal

      arr_port    pax                               arrName
1088  LHR       87803               London Heathrow Airport
1190  MCO       70069         Orlando International Airport
1050  LAX       69769     Los Angeles International Airport
1047  LAS       68898       Mc Carran International Airport
886   JFK       65475  John F Kennedy International Airport
315   CDG       63814             Paris - Charles-de-Gaulle
216   BKK       58713                          Suvarnabhumi
1228  MIA       57565           Miami International Airport
1719  SFO       57295   San Francisco International Airport
517   DXB       55003           Dubai International Airport