In [24]:
# import numpy
import numpy as np

# importamos Pandas y los objetos q vamos a usar
import pandas as pd
from pandas import DataFrame, Series

# importamos librería gráficos
import matplotlib.pyplot as plt

# para mostrar gráfico en notebook
%matplotlib inline

In [4]:
lista1=[0,5,10]

In [5]:
lista2=lista1+1

TypeError: can only concatenate list (not "int") to list

In [6]:
lista1

[0, 5, 10]

In [7]:
lista2=[1,6,11]

In [8]:
lista3=[2,7,12]
lista4=[3,8,13]
lista5=[4,9,14]

In [9]:
serie1=pd.Series(lista1)

In [10]:
serie1=pd.Series(lista1)
serie2=pd.Series(lista2)
serie3=pd.Series(lista3)
serie4=pd.Series(lista4)

In [11]:
serie5=pd.Series(lista5)

In [15]:
df1=DataFrame({'c1':serie1,'c2':serie2,'c3':serie3,'c4':serie4,'c5':serie5})

In [16]:
df1

   c1  c2  c3  c4  c5
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14

In [20]:
# otra opcion para crear el mismo DataFrame
# df1=DataFrame([[0,1,2,3,4],[5,6,7,8,9],[10,11,12,13,14]])
# df1.columns=["c1","c2","c3","c4","c5"]

#no lo digo ..., lo hago

In [19]:
df2=DataFrame([[0,1,2,3,4],[5,6,7,8,9],[10,11,12,13,14]])
df2.columns=["c1","c2","c3","c4","c5"]

In [21]:
df2

   c1  c2  c3  c4  c5
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14

In [22]:
df3=df1+df2

In [23]:
df3

   c1  c2  c3  c4  c5
0   0   2   4   6   8
1  10  12  14  16  18
2  20  22  24  26  28

In [25]:
# otra manera de generar un dataframe con valores aleatorios
# función randint de numpy

np.random.randint(0,15,3*5)

array([ 4,  9,  6,  0, 10,  3,  7,  1, 10,  8,  7,  7, 10, 11,  5])

In [26]:
# para partirlo en varias arrays
np.random.randint(0,15,3*5).reshape(3,5)

array([[ 1,  8, 14,  5, 13],
       [ 1,  1,  5,  9, 11],
       [ 8,  5,  0, 12, 12]])

In [27]:
# lo llevo a un DataFrame
df4=DataFrame(np.random.randint(0,15,3*5).reshape(3,5))

In [28]:
df4

    0   1   2   3   4
0   2   1   2   2  11
1  12  12   7  10   2
2   0   2  12   6   9

In [29]:
df4.columns=["c1","c2","c3","c4","c5"]

In [30]:
# otra manera, mismo DataFrame del principio

df5=DataFrame(np.arange(3*5).reshape(3,5))
df5.columns=["c1","c2","c3","c4","c5"]

In [38]:
df5

   c1  c2  c3  c4  c5
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14

In [37]:
df5.columns=["c1","c2","c3","c4","c5"]

In [39]:
# Recuerda q los ARRAYS de numpy son mucho más rápidos que las listas de python

In [40]:
# añadimos una columna c6 como suma de c3+c4

df5["c6"]=df5["c3"]+df5["c4"]

In [43]:
df5

   c1  c2  c3  c4  c5  c6  c7
0   0   1   2   3   4   5   4
1   5   6   7   8   9  15   9
2  10  11  12  13  14  25  14

In [42]:
# y una c7 resta de c6-c2

df5["c7"]=df5["c6"]-df5["c2"]

In [44]:
# tratamos una fila con .ix

df5.ix[2]

c1    10
c2    11
c3    12
c4    13
c5    14
c6    25
c7    14
Name: 2, dtype: int64

In [51]:
# APPEND añade filas al DataFrame

aux=df5.ix[2]

In [55]:
# con Ignore_index ignora el nombre que tendría la serie y le asigna el siguiente, es decir 3 en este ej
df5=df5.append(aux,ignore_index=True)

In [56]:
# OJO !!! append no añade la file, hay que ejecutar y asignar la salida al propio DataFrame

   c1  c2  c3  c4  c5  c6  c7
0   0   1   2   3   4   5   4
1   5   6   7   8   9  15   9
2  10  11  12  13  14  25  14
3  10  11  12  13  14  25  14

In [57]:
# para tomar un DataFrame de otro 

# tomando varias columnas, referenciandolas (p.e si no son correlativas)

df5[["c2","c4"]]

   c2  c4
0   1   3
1   6   8
2  11  13
3  11  13

In [58]:
# varias columnas correlativas

listColumn=["c"+str(x) for x in [2,3,4,5]]
df4[listColumn]

   c2  c3  c4  c5
0   1   2   2  11
1  12   7  10   2
2   2  12   6   9

In [62]:
df5.columns[2:5]

Index([u'c3', u'c4', u'c5'], dtype='object')

In [64]:
# Para selecccionar Filas hay q pasar por listas de booleanos

# por ejemplo para seleccionar la segunda y cuarta de las cuatro filas de df5

df5[[False,True,False,True]]

# la lista debe tener tantos elementos como filas el DataFrame

   c1  c2  c3  c4  c5  c6  c7
1   5   6   7   8   9  15   9
3  10  11  12  13  14  25  14

In [70]:
# la lista de booleanos puede responder a un criterio

df5["c5"]>10

# devuelve una serie con tantas filas como el DataFrame y en cada una indica si cumple o no la condición

0    False
1    False
2     True
3     True
Name: c5, dtype: bool

In [73]:
# si le aplico el resultado de esa condición devuelve el DataFrame filtrado
cond=df5["c5"]>10
df5[cond]

# así sólo devuelve el resultado, no ha consolidado df5

   c1  c2  c3  c4  c5  c6  c7
2  10  11  12  13  14  25  14
3   8   9  10  11  12  23  12

Apply Map

In [74]:
# función suma 2 
def fSum(integer):
    return integer+2

In [77]:
# applymap aplica la función a todo el DataFrame

df5.applymap(fSum)

   c1  c2  c3  c4  c5  c6  c7
0   2   3   4   5   6   7   6
1   7   8   9  10  11  17  11
2  12  13  14  15  16  27  16
3  10  11  12  13  14  25  14

In [79]:
# apply aplica la función a una serie -->  Por defecto COLUMNAS

def MinForSerie(s):
    return s.min()

In [80]:
df5.apply(MinForSerie)

c1    0
c2    1
c3    2
c4    3
c5    4
c6    5
c7    4
dtype: int64

In [81]:
df4

   c1  c2  c3  c4  c5
0   2   1   2   2  11
1  12  12   7  10   2
2   0   2  12   6   9

In [85]:
df3.apply(MinForSerie)

c1    0
c2    2
c3    4
c4    6
c5    8
dtype: int64

In [84]:
df3

   c1  c2  c3  c4  c5
0   0   2   4   6   8
1  10  12  14  16  18
2  20  22  24  26  28

In [89]:
def minMax(s):
    return s.max()

In [90]:
df5.apply(minMax)

c1    10
c2    11
c3    12
c4    13
c5    14
c6    25
c7    14
dtype: int64

In [92]:
# para ejecutar la misma función pero en FILAS  -->  axis=1

df5.apply(minMax,axis=1)

0     5
1    15
2    25
3    23
dtype: int64